{% extends "layout.html" %} 

{% block title %}{{ super() }} | Attorneys{% endblock %} 

{% block content %}
    <div class="row whowecontent">
        <div class="col-md-3 content nopaddingright">
            <div class="row whowe">
                <h6>
                    <b>WHO WE ARE</b>
                    <h6>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-12 newsborder">
                                </div>
                            </div>
                        </div>
                        <p>
                            <a href="contact">Welcome</a>
                        </p>
                        <p>
                            <a href="attorneys">Attorneys</a>
                        </p>
                        <p>
                            <a href="contact">Staff</a>
                        </p>
                        <p>
                            <a href="contact">Reputation</a>
                        </p>
                        <p>
                            <a href="contact">History</a>
                        </p>
                        <div class="nodecoration">
                            <a href="where">
                                <img src="http://nzalaw.com/images/content-navlink-panek_rosemary.jpg" class="img-responsive" alt="Contact Us" />
                            </a>
                    
                            <a href="contact" class="nodecoration">
                                <b>Contact Us</b>
                                <br>For general questions and inquiries contact Rosemary Panek.</a>
                        </div>
            </div>
        </div>
        <div class="col-md-9 middlecontent">
            <div class="row">
                <img src="http://nzalaw.com/images/content-01-attorneys.jpg" alt="Attorneys" class="img-responsive">
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <b>Person's Name</b>
                        <br> Person's Title
                        <br>
                        <br> 000.000.0000
                        <br>
                        <a href="#">email@email.com</a>
                        <br>
                        <br>
                        <a href="#">more...</a>
                    </div>
                </div>
                <div class="col-md-6 attorneycontent">
                    <a href="#">
                        <img src="http://nzalaw.com/images/t-o-mccabe_john.jpg" alt="Lawyer Guy" class="floatleft">
                    </a>
                    <div class="attorneyinfo">
                        <p>
                            <b>Person's Name</b>
                            <br> Person's Title
                            <br>
                            <br> 000.000.0000
                            <br>
                            <a href="#">email@email.com</a>
                            <br>
                            <br>
                            <a href="#">more...</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}