{% extends "layout.html" %} 

{% block title %}{{ super() }} | Contact{% endblock %} 

{% block content %}
    <div class="row whowecontent">
        <div class="col-md-3 content nopaddingright">
            <div class="row whowe">
                <h6>
                    <b>CONTACT US</b>
                    <h6>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-12 newsborder">
                                </div>
                            </div>
                        </div>
                        <p>
                            <a href="contact">Directions / Parking</a>
                        </p>
                        <p>
                            <a href="contact">Career Opportunities</a>
                        </p>
                        <a href="news">
                            <img src="http://nzalaw.com/images/content-navlink-news.jpg" class="img-responsive" alt="Where we work map"
                            />
                        </a>
                        <div class="nodecoration">
                            <a href="news" class="nodecoration">
                                <b>News & Events</b>
                                <br>Read the most current information about our firm.</a>
                        </div>
            </div>
        </div>
        <div class="col-md-5 content nopaddingleft">
            <div class="row middleimg">
                <img src="http://nzalaw.com/images/content-05-contact.jpg" alt="Welcome" class="img-responsive">
            </div>
            <div class="middlecontent">
                <br>
                <p>
                    The office hours are 8am – 5pm Monday through Friday
                    <br>
                    <br> 55 West Monroe Street
                    <br> Suite 1800
                    <br> Chicago, Illinois 60603
                    <br>
                    <br> PH: 312.322.9900
                    <br> FAX: 312.322.9977
                    <br>
                    <br> Contact: Elmo Pancakes at
                    <a href="#">email@email.com</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 content grayside nopaddingright">
            <div class="row">
                <a href="where">
                    <img src="http://nzalaw.com/images/content-link-where.jpg" class="img-responsive" />
                </a>
                <br>
                <a href="where" class="nodecoration">
                    <b>Where We Work</b>
                    <br>Find out more about our work
                    <br>coverage area.</a>
                <a href="contact">
                    <img src="http://nzalaw.com/images/content-link-reputation.jpg" class="img-responsive" />
                </a>
                <br>
                <a href="contact" class="nodecoration">
                    <b>Reputation</b>
                    <br>Read about our admirable reputation.</a>
            </div>
        </div>
    </div>
{% endblock %}