{% extends "layout.html" %}

{% block title %}{{ super() }} | Home{% endblock %} 

{% block content %}
    <div class="row">
        <div class="col-md-8 content">
            <img src="http://nzalaw.com/images/nza_slideshow.jpg" alt="" class="img-responsive homeimage">
        </div>
        <div class="col-md-4 content">
            <div class="newsfeed">
                <h6>NEWS FEED
                    <h6>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-12 newsborder">
                                </div>
                            </div>
                        </div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum veritatis facere nobis sequi illum, veniam
                            voluptates voluptas magnam quam amet culpa impedit, mollitia at error in! Laudantium modi at minima?Lorem
                            ipsum dolor
                            <br>
                            <br>sit amet, consectetur adipisicing elit. Ipsum veritatis facere nobis sequi illum, veniam voluptates
                            voluptas magnam quam amet
                            <br>
                            <br>culpa impedit, mollitia at error in! Laudantium modi at minima?Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Ipsum veritatis facere nobis sequi illum, veniam voluptates voluptas magnam quam
                            amet culpa impedit, mollitia at error in! Laudantium modi
                            <br>
                            <br>at minima?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum veritatis facere nobis
                            sequi illum, veniam voluptates voluptas magnam quam amet culpa impedit, mollitia at error in! Laudantium
                            modi at minima?</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 content welcome">
            <p>
                <b>Welcome to our website!</b>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nemo aliquam modi beatae tenetur error cupiditate
                vel iusto. Facere consequuntur, laborum architecto magni impedit ex animi eaque suscipit, accusantium quo.</p>
        </div>
        <div class="col-md-4 content contactinfo">
            <p>
                <b>Names of People, and L.E.</b>
                <br> First line of an address
                <br> Second lind of an address
                <br> 000-000-0000 phone
                <br> 000-000-0000 fax
                <br>
                <a href="#">Email@email.com</a>
            </p>
        </div>
    </div>
{% endblock %}