{% extends "layout.html" %} 

{% block title %}{{ super() }} | News{% endblock %} 

{% block content %}
    <div class="row whowecontent">
        <div class="col-md-3 content nopaddingright">
            <div class="row whowe">
                <h6>
                    <b>NEWS & EVENTS</b>
                    <h6>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-12 newsborder">
                                </div>
                            </div>
                        </div>
                        <p>
                            <a href="news">Current</a>
                        </p>
                        <p>
                            <a href="contact">Archive</a>
                        </p>
                        <a href="contact">
                            <img src="http://nzalaw.com/images/content-navlink-directions.jpg" class="img-responsive" alt="Where we work map"
                            />
                        </a>
                        <div class="nodecoration">
                            <a href="contact" class="nodecoration">
                                <b>Directions / Parking</b>
                                <br>Where to find us.</a>
                        </div>
            </div>
        </div>
        <div class="col-md-5 content">
            <div class="row middleimg">
                <img src="http://nzalaw.com/images/content-03-newsroom.jpg" alt="Welcome" class="img-responsive">
            </div>
            <div class="middlecontent">
                <br>
                <p>
                    <b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.</b>
                    <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. </p>
                <p>
                    <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor </b>
                    <br>in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

{% endblock %}