{% extends "layout.html" %} 

{% block title %}{{ super() }} | Where{% endblock %} 

{% block content %}
    <div class="row whowecontent">
        <div class="col-md-3 content nopaddingright">
            <div class="row whowe">
                <h6>
                    <b>WHERE WE WORK</b>
                    <h6>
                        <div class="row">
                            <div class="container">
                                <div class="col-md-12 newsborder">
                                </div>
                            </div>
                        </div>
                        <p>United States</p>
                        <p>International</p>
                        <a href="contact">
                            <img src="http://nzalaw.com/images/content-navlink-career.jpg" class="img-responsive" alt="Where we work map"
                            />
                        </a>
                        <div class="nodecoration">
                            <a href="contact" class="nodecoration">
                                <b>Career Opportunities</b>
                                <br>Join our magnificent firm.</a>
                        </div>
            </div>
        </div>
        <div class="col-md-9 content middlecontent">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum
                dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            <div class="row">
                <div class="col-md-7 locations">
                    <h6>UNITED STATES</h6>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Alabama
                                <br>Alaska
                                <br>Arizona
                                <br>Arkansas
                                <br>California
                                <br>Colorado
                                <br>Connecticut
                                <br>Florida
                                <br>Georgia
                                <br>Hawaii
                                <br>Idaho
                                <br>Illinois
                                <br>Indiana
                                <br>Iowa
                                <br>Kansas
                                <br>Kentucky
                                <br>Louisiana
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>Maine
                                <br>Maryland
                                <br>Massachusetts
                                <br>Michigan
                                <br>Minnesota
                                <br>Mississippi
                                <br>Missouri
                                <br>Montana
                                <br>Nebraska
                                <br>Nevada
                                <br>New Hampshire
                                <br>New Jersey
                                <br>New Mexico
                                <br>New York
                                <br>North Carolina
                                <br>North Dakota
                                <br>Ohio
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>Oklahoma
                                <br>Oregon
                                <br>Pennsylvania
                                <br>South Carolina
                                <br>South Dakota
                                <br>Tennessee
                                <br>Texas
                                <br>Utah
                                <br>Vermont
                                <br>Virginia
                                <br>Washington
                                <br>West Virginia
                                <br>Wisconsin
                                <br>Wyoming
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 locations">
                    <h6>INTERNATIONAL</h6>
                    <hr>
                    <p>Canada
                        <br>Columbia
                        <br>Germany
                        <br>Nicarauga
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}